body{
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1s;
}

header{
    color:#fff;
    background: #33E5CF;
    border-bottom: solid 1px #ADAA8C;
	border-top: solid 1px #ADAA8C;
	text-align: center;
	margin-top: 2em;
}
h1, h3{
	padding: 0;
	margin: 0;
	font-weight: lighter;
}
h3 {
	margin-bottom: 1em;
}
nav {
	margin: 2em auto 4em;
	text-align: center;
}
nav a{
    text-decoration: none;
    color:#33E5CF;
    padding: 10px;
    transition: all .75s;
	font-style: italic;
}
nav a:hover {
    color:#33E5CF;
}
nav a:visited {
    color:#33E5CF;
}
footer {
	float: right;
	color:#33E5CF;
	font-style: italic;
	margin-right: 1em;
	font-variant: small-caps;
}
.thumb img{
    
    height: 250px;
    width:165px;
}
ul{    
    font-size: .75em; 
    font-style: italic;
}
a{
    text-decoration: none;
}
.container {
	width: 80%;
	margin: 2em auto;
}
.gallery{
	margin: 2em
}

.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
    border:5px solid #fff;
    
    box-shadow: 50px black; 
}

.lightbox:target {
    background: rgba(0, 0, 0, 0.7);
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
    
}

@media screen and (max-width: 680px){
    
  body{
    background: orange;
  }
  
  section{
    width:160px;
  }
}