body{
    background: #fff;
    max-width: 50%;
    margin: 0 auto;
}

.thumb img{
    max-width: 200px;
    border:5px solid white;
    margin:10px;
    height: 250px;
    width:165px;
    
}

a{
    text-decoration: none;
}
.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
    border:5px solid #ADAA8C;
    border-radius: 10px;
    box-shadow: 50px black; 
}

.lightbox:target {
    background: rgba(7, 49, 41, 0.88);
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}

@media screen and(max-width: 580px){
    body{
        background: green;
    }
}